<form [formGroup]="wishForm" (ngSubmit)="onSubmit()" class="form">
  <p>
    <label>
      Title:
      <input class="box" type="text" formControlName="title">
    </label>
  </p>

  <p>
    <label>
      About:
      <input class="box" type="text" formControlName="about" placeholder="optional">
    </label>
  </p>

  <p>
    <label>
      Price:
      <input class="box" type="text" formControlName="price">
    </label>
  </p>

  <button
    class="submit-button"
    type="submit"
    [disabled]="!wishForm.valid">
    Create
  </button>
</form>
