@import '~src/variables';

.form {
  background-color: $item-color;
  margin: 0 auto;
  padding: 30px;
  width: 300px;

  .box {
    border: 1px solid;
    padding: 3px;
  }

  .submit-button {
    margin: 0 auto;
  }
}

